<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll brb</h1>
    <p>
      The site is currently being updated, shouldnt be too long though, loyal fan
    </p>
  </body>
</html>
